<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/seattle-sports.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Is there a Seattle home game today?</title>
</head>
<body>
<header class="container">

    <h1 id="answer">{{ if .Events }}YES{{ else }}NO{{ end }}</h1>
</header>
<main class="container">
    <div class="grid">
        {{ range .Events}}
            <div>
                <p>{{ .TeamName }} are playing against the {{ .Opponent }} at {{ .Venue }}. The game starts at {{ .LocalTime }}</p>
            </div>
        {{ end }}
    </div>
    <div class="date-footer">
        {{ .FullGeneratedDate }}
        Generated on {{ .GeneratedDate }}
    </div>
</main>
</body>
</html>