#answer {
    font-size: 100px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

#tomorrow {
    font-size: 40px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 30px;
}

.date-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
